@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-devicetype-width">
        <title>Party!</title>
    </head>
    <body>
        <div>
            <div>
                We are going to have an exciting party!
            </div>
        </div>
        <a asp-action="RsvpForm">RSVP Now</a>
    </body>
</html>