@model ch3_selbst.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-devicetype-width">
        <title>Party</title>
    </head>
    <body>
        <form asp-action="RsvpForm" method="post"></form>
        <div>
            
        </div>
    </body>
</html>